* {
    margin: 0;
}
.portada {
    background-attachment: video;
}
header, footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
ul {
    display: flex;
    padding: 0;
}
li {
    list-style: none;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
p {
    font-family: 'Roboto', sans-serif;
}

.video-portada {
    width: 100%;
}
.logo img {
    width: 300px;
}
.redes img {
    width: 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.info-encuestamepe h2, .info-encuestamepe p{
    margin: 20px;
}
.info-encuestamepe h2 {
    margin-top: 45px;
}

/*.portada {
    background-color: aquamarine;
    height: 100vh;
}*/



.container-cifras {
    background: #1C99C4;
    margin: 60px 0;
}
.cifras {
    margin-bottom: 100px;
    padding: 25px;
    margin-top: 60px;
    margin: 0 auto;
    max-width: 1200px;
}
.cifras-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 60px;*/
}

.porcentaje {
    border-left: solid 1px #fff;
}

.cifras-bloque {
    width: 33%;
}
.cifras-bloque-solo {
    width: 100%;
    border-right: none;
}
.icono img {
    filter: invert(1);
}

.videos {
    height: 500px;
    background-color: brown;
}

.contacto h2 {
    text-align: center;
    margin-top: 20px;
}
form {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
input, textarea {
    margin: 10px;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .logo {
    width: 50px;
}
footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 280px;
    padding: 20px;
    background: #e8e8e8;
    margin-top: 100px;
    border-top: solid 20px #1C99C4;
}

/*Cifras*/
.cifras-bloque p {
    text-align: center;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px;
    color: rgb(255 255 255);
}

.num-text h3 {
    margin: 10px 0;
}

.porcentaje-cuenta {
    display: flex;
    justify-content: center;
}

span {
    text-align: center;
    margin: 0;
    display: block;
    font-size: 80px;
    color: rgb(255 255 255);
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

.cifras .icono {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 15px;
}
