* {
    margin: 0;
}

header, footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
ul {
    display: flex;
    padding: 0;
}
li {
    list-style: none;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
p {
    font-family: 'Roboto', sans-serif;
}

.logo img {
    width: 300px;
}
.redes img {
    width: 50px;
}
.portada {
    background-color: bisque;
    height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.info-encuestamepe h2, .info-encuestamepe p{
    margin: 20px;
}

/*.portada {
    background-color: aquamarine;
    height: 100vh;
}*/




.cifras {
    margin-bottom: 100px;
    padding-top: 25px;
}
.cifras-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.num {
    border-right: solid 1px #fff;
}
.porcentaje {
    border-left: solid 1px #fff;
}

.cifras-bloque {
    width: 33%;
}
.cifras-bloque-solo {
    width: 100%;
    border-right: none;
}

.videos {
    height: 500px;
    background-color: brown;
}

.contacto h2 {
    text-align: center;
    margin-top: 20px;
}
form {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
input, textarea {
    margin: 10px;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .logo {
    width: 50px;
}

/*Cifras*/
.cifras-bloque p {
    text-align: center;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px;
}

.num-text h3 {
    margin: 10px 0;
}

.porcentaje-cuenta {
    display: flex;
    justify-content: center;
}

span {
    text-align: center;
    margin: 0;
    display: block;
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

.cifras-text {
    margin-top: 100px;
    max-width: 800px;
}