* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
.portada {
    background-attachment: video;
}
header, footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
ul {
    display: flex;
    padding: 0;
}
li {
    list-style: none;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}
p, h3 {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}

.video-portada {
    width: 100%;
}
.logo img {
    width: 300px;
}
.redes img {
    width: 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.info-encuestamepe h2, .info-encuestamepe p{
    margin: 20px;
}
.info-encuestamepe h2 {
    margin-top: 45px;
}

/*.portada {
    background-color: aquamarine;
    height: 100vh;
}*/



.container-cifras {
    background: #1C99C4;
    margin: 60px 0;
}
.cifras {
    margin-bottom: 100px;
    padding: 25px;
    margin-top: 60px;
    margin: 0 auto;
    max-width: 1200px;
}
.cifras-site {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 60px;*/
}

.porcentaje {
    border-left: solid 1px #fff;
}

.cifras-bloque {
    width: 33%;
}
.cifras-bloque-solo {
    width: 100%;
    border-right: none;
}
.icono img {
    filter: invert(1);
}

.videos {
    height: 500px;
    justify-content: space-between;
    display: flex;
    margin-top: 40px;
}
.container-videos h2 {
    text-align: center;
    margin-top: 40px;
}

.container-productos {
    margin-top: 70px;
}
.productos {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 40px;
}
.product {
    color: #000;
    max-width: 800px;
    height: auto;
    padding: 13px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
}
.product-1 {
    background-color: #1E98C4;
}
.product-2 {
    background-color: #6FAABF;
}
.product-3 {
    background-color: #9FB7BF;
}
.product h3 {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 15px;
}
.product p{
    font-size: 20px;
}

.contacto h2, .container-productos h2 {
    text-align: center;
    margin-top: 70px;
}
form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
input, textarea {
    margin: 10px;
    border: solid 1px #000;
    border-radius: 5px;
    padding-left: 4px;
}
input {
    height: 30px;
}
input[type="submit"] {
    border: solid 2px #1C99C4;
    background-color: #fff;
    color: #1C99C4;
    border-radius: 11px;
    height: 36px;
    float: right;
    font-size: 14px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #1C99C4;
    color: #fff;
}

.footer-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 280px;
    padding: 20px;
    background: #e8e8e8;
    margin-top: 100px;
    border-top: solid 20px #1C99C4;
}
.footer-row {
    width: 400px;
}
.footer-row a {
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.footer-row p {
    margin: 10px 0;
    cursor: pointer;
}

/*Cifras*/
.cifras-bloque p {
    text-align: center;
    font-size: 18px;
    margin: 0;
    letter-spacing: 2px;
    color: rgb(255 255 255);
}

.num-text h3 {
    margin: 10px 0;
}

.porcentaje-cuenta {
    display: flex;
    justify-content: center;
}

span {
    text-align: center;
    margin: 0;
    display: block;
    font-size: 80px;
    color: rgb(255 255 255);
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

.cifras .icono {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-top: 15px;
}


@media (max-width: 1168px) {
    span {
        font-size: 60px;
    }
    .cifras-bloque p {
        font-size: 15px;
    }
}
@media (max-width: 1024px) {
    li {
        font-size: 14px;
    }
    .container {
        padding: 0 20px;
    }
    .portada video {
        height: auto;
    }
    .cifras-bloque {
        margin: 0 0 30px;
        width: 100%;
    }
    .cifras-bloque p {
        font-size: 15px;
    }
    span {
        font-size: 60px;
    }
    .cifras-site {
        flex-direction: column;
    }

    video {
        width: 230px;
        height: 404px;
    }
    .videos {
        height: 425px;
    }
}
@media (max-width: 800px) {
    .menu {
        display: none;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-container :only-child {
        margin: 0 0 20px;
    }
}
@media (max-width: 500px) {
    .videos {
        flex-direction: column;
        align-items: center;
        height: 1338px;
    }
    figure {
        margin: 0 0 30px;
    }
    .footer-container {
        width: 300px;
    }
    .footer-row {
        width: 356px;
    }
    footer {
        padding: 50px;
    }
}